@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ligth: #f2f2f2;
  --dark: #191717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #191717;
    --ligth: #f2f2f2;
  }
}

body {
  color: var(--dark);
  background: var(--ligth);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
